@import "../../colors.scss";

.footer {
  background-color: $my-footer;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.footer img {
  margin: 0 auto;
}

.link-container {
  margin: 20px;
}

.link {
  font-size: 2em;
  padding: 20px;
  text-decoration: none;
}

.github {
  composes: link;
  color: black;
}

.linkedin {
  composes: link;
  color: #0077b5;
}
