@import "colors.scss";

#profile_button {
  width: 20px;
  height: 38px;
  border: none;
  background: none;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-content: center;
  justify-content: center;
}

#profile_button:focus {
  outline: 0;
}

.dropdown img {
  width: 38px;
  height: 38px;
}

.dropdown_content {
  background-color: gray;
  z-index: 2;
}

#caret-down {
  color: white;
  margin: 0 auto;
}

.dropbtn {
  border: none;
  cursor: pointer;
  display: flex;
  border-radius: 2px 0 0 2px;
}

.dropbtn > img {
  border-radius: 2px 0 0 2px;
}

.dropbtn > button {
  border-radius: 0 2px 2px 0;
}

.dropdown {
  position: relative;
}

.dropdown_content {
  display: none;
  position: absolute;
  margin-top: 0px;
  z-index: 1;
  right: 0;
  padding: 12px;
  min-width: 217px;
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.dropdown_content img {
  width: 60px;
  height: 60px;
}

.dropdown_content > button {
  cursor: pointer;
  margin: 10px;
  border: none;
  color: rgb(0, 115, 187);
  margin: 6px auto;
  font-size: 14px;
  vertical-align: baseline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropdown_content > a {
  color: blue;
}

.dropdown_content > a:hover {
  text-decoration: underline;
}

.dropdown_content > button:hover {
  text-decoration: underline;
}

.dropdown_top {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding: 10px;
  border: solid rgb(230, 230, 230);
  border-width: 0px 0px 1px 0px;
}

#drp_name {
  margin: 10px 40px;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown:hover .dropbtn {
  background: rgba(0, 0, 0, 0.5);
}
