.search_bar {
  border-color: #e6e6e6;
  overflow: hidden;
  margin: 0px;
  height: 36px;
  border-style: none;
}
.search_bar form {
  border-style: none;
}

.search_bar .find_box {
  background-color: white;
  height: 36px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 0px 0px 4px;
  font-weight: bold;
}

.search_bar label {
  height: 36px;
  border-color: white;
}
.search_bar input {
  height: 36px;
  margin: 0px;
  border-style: none;
  width: 350px;
  border-radius: 0px;
}

.search_bar input:focus {
  outline: none;
}

.search_bar button {
  box-shadow: none;
  margin: 0px;
  border: 0;
  background: #bd1f1f;
  border-radius: 0px 4px 4px 0px;
  line-height: 36px;
  padding: 0px;
  width: 50px;
  
  color: white;
  transition: all 0.6s;
  transition-timing-function: ease;
  border-style: none;
}
.search_bar button:hover {
   background-color:rgba(105, 105, 105, 0.3);
}
