// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#root {
  background-color: lightblue;
}

.home {
  background-color: lavender;
}
.home_nav {
  background-color: lightyellow;
}
.home_session_links {
  background-color: lightcoral;
  display: flex;
  justify-content: flex-end;
}

.home_session_links a {
  margin: 5px;
}

.home_banner {
  display: flex;
  align-items: center;
  align-content: center;
}

.home_banner h1 {
  margin: auto;
}


.home_personal_greeting {
  background-color: lightcoral;
}


.login-form-box {
  background-color: lightgray;
}

.top_restaurants {
  background-color: lightsalmon;
}

.footer {
  background-color: lightgreen;
}
