// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$my-red: #d32323;
$my-footer: rgb(245, 245, 245);
$my-body: white;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: $my-body;
}

#root {}

///////////////////////HOME//////////////////////
.home {
  background-image: url('https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/52ed68f0e062/assets/img/home/hero_photos/BKlP1ebtV6kFbKnZU8Ppew.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home_session_links {
  display: flex;
  justify-content: flex-end;
}

#signup_button {
  border: 2px solid white;
  border-radius: 4px;
}

#demo_button {
  margin: 5px;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
  color: #fff;
  display: block;
  padding: 9px 12px 10px;
  font-size: 14px;
  line-height: 1.28571em;
  font-weight: 700;
  background: none;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 4px;
}

.home_session_links a {
  margin: 5px;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;

  color: #fff;
  display: block;
  padding: 9px 12px 10px;
  font-size: 14px;
  line-height: 1.28571em;
  font-weight: 700;
  background: none;

  text-decoration: none;
}

.home_banner {
  display: flex;
  align-items: center;
  align-content: center;
  height: 400px;
}

.home_banner h1 {
  margin: auto;
  font-family: 'Courgette', cursive;
  font-size: 6em;
  padding: 60px;
  text-shadow: -5px 0 white,
    0 5px white,
    5px 0 white,
    0 -5px white;
}

// .fa-wine-glass-alt {
//   text-shadow: none;
// }
.home_personal_greeting {
  margin: 5px;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;

  color: #fff;
  display: block;
  padding: 9px 12px 10px;
  font-size: 14px;
  line-height: 1.28571em;
  font-weight: 700;
}



////////////////////////LOGIN FORMS///////////////////
.login_form_body {
  display: flex;
  justify-content: center;
}

.login_form_body img {
  margin: 200px 50px;
}

.login-form-box {
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

input[type=text],
select {
  width: 300px;
  height: 30px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password],
select {
  width: 300px;
  height: 30px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit],
select {
  width: 300px;
  height: 43px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  background-color: $my-red;
  font-size: 16px;
  line-height: 1.3125em;
  font-weight: bold;
}

.login-form-box h1 {
  color: $my-red;
  margin-bottom: 6px;
}

.login-form-box strong {
  margin: 0;
}

.login-form-box .small {
  text-align: right;
  color: #999;
}

.login-form-box a {
  color: blue;
  text-decoration: none;
}
.login-form-box a:hover {
  text-decoration: underline;
}

.form_header {
  background-color: $my-red;
  display: flex;
  align-items: center;
  align-content: center;
}

.form_header h1 {
  margin: auto;
  font-family: 'Courgette', cursive;
  font-size: 2em;
  padding: 10px;
  text-shadow: -1px 0 white,
    0 1px white,
    1px 0 white,
    0 -1px white;
}

.form_header h1 a {
  color: black;
  text-decoration: none;
}

///////////////////////TOP RESTAURNANTS//////////////////////
.top_restaurants {
  display: flex;
  align-items: center;
  align-content: center;
  height: 400px;
}

.top_restaurants h1 {
  margin: auto;
  color: $my-red;
}

///////////////////////FOOTER//////////////////////
.footer {
  background-color: $my-footer;
  border-top: 1px solid #ccc;
  display: flex;
}

.footer img {
  margin: 0 auto;
}