@import 'colors.scss';

.top_restaurants {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 500px;
}

.top_restaurants h1 {
  margin: auto;
  color: $my-red;
}

.top_restaurant_container {
  display: flex;
}
.top_restaurant {
  margin: 20px;
  padding: 20px;
  width: 300px;
  height: 230px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background: #fff;
}

.top_restaurant a {
  font-size: 16px;
  font-weight: 700;
}

.top_restaurant img {
  width: 290px;
  height: 180px;
  object-fit: cover;

}
