@import "colors.scss";

.top_restaurants {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 500px;
}

.top_restaurants h1 {
  margin: auto;
  color: $my-red;
}

.top_restaurant_container {
  display: flex;
}
.top_restaurant {
  margin: 30px;
  padding: 0px;
  width: 299px;
  height: 321px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background: #fff;
}

.top_restaurant a {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 7px;
}

.top_restaurant img {
  width: 299px;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.top_restaurant .details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.top_restaurant .city {
  font-size: 14px;
  padding-top: 5px;
}

.top_restaurant .style {
  font-size: 14px;
}
